# fly.toml app configuration file generated for sidekicksammy on 2023-11-16T21:43:56-09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "sidekicksammy"
primary_region = "sea"

[build]

[deploy]
  release_command = ".fly/release.sh"

[env]
  # now pointing to rw
  #DATABASE_URL = "file://data/sqlite-1.db"
  MIGRATE_ON_BOOT = "true"
  #PORT = "8910"
  REDWOOD_DISABLE_TELEMETRY = "1"

#[[mounts]]
  #source = "data"
  #destination = "/data"

[processes]
  app = ".fly/start.sh"
  cron = ".fly/cron.sh"

[[services]]
  http_checks = []
  internal_port = 8910
  processes = ["app"]
  protocol = "tcp"
  [[services.ports]]
    handlers = ["http"]
    port = "80"
  [[services.ports]]
    handlers = ["tls", "http"]
    port = "443"
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 6
    timeout = "2s"
[vm]
  cpu_kind = "shared"
  memory_mb = 1024
  cpus = 1


#[http_service]
#  internal_port = 8910
#  force_https = true
#  auto_stop_machines = true
#  auto_start_machines = true
#  min_machines_running = 0
#  processes = ["app"]
